<section id="getting-started">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="mx-auto max-w-3xl lg:text-center relative">
      <img
        class="absolute -top-40 md:-top-20 left-0 md:-left-10 h-36 md:h-40"
        src="/dots.svg"
        alt=""
      />
      <div>
        <p
          class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter">
          Getting started
        </p>
        <p class="mt-4 text-lg max-w-xl tracking-tight text-gray-500 mx-auto">
          <b>Install</b> trak on your machine
        </p>
      </div>
    </div>
    <div class="mx-auto pt-12">
      <div
        class="mx-auto w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-3">
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-5 w-5"
                name="star-outline"
                role="img"></ion-icon>
            </div>
            <p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              pipx
            </p>
          </div>
          <p class="text-gray-500 text-sm mt-4">
            <span class="block mb-4">
              The currently recommended way to use it on your computer.
            </span>
            <code> pipx install trakcli</code>
          </p>
        </div><div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-5 w-5"
                name="cube-outline"
                role="img"></ion-icon>
            </div>
            <p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              pip
            </p>
          </div>
          <p class="text-gray-500 text-sm mt-4">
            <span class="block mb-4">
              For Python developers who want to install trak in a virtualenv.
            </span>
            <code> pip install trakcli</code>
          </p>
        </div>
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-5 w-5"
                name="snow-outline"
                role="img"></ion-icon>
            </div>
            <p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Nix
            </p>
          </div>
          <p class="text-gray-500 text-sm mt-4">
            <span class="block mb-4">
              If you have Nix installed and flakes enabled.
            </span>
            <code> nix run github:lcfd/trak</code>
          </p>
        </div>
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-5 w-5"
                name="beer-outline"
                role="img"></ion-icon>
            </div>
            <p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Brew
            </p>
          </div>
          <p class="text-gray-500 text-sm mt-4">
            <span class="block mb-4"> TBA</span>
            <span class="block">
              <a
                class="underline"
                target="_blank"
                href="https://github.com/lcfd/trak/issues/14">
                Contributions are welcome! 🙏
              </a>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="mx-auto max-w-3xl lg:text-center relative">
      <div>
        <p class="mt-20 text-lg max-w-xl tracking-tight text-gray-500 mx-auto">
          To start you need <b>just three</b> commands
        </p>
      </div>
    </div>

    <div class="mx-auto pt-12">
      <div
        class="mx-auto w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-3">
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-5 w-5"
                name="add-circle-outline"
                role="img"></ion-icon>
            </div>
            <p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Create project
            </p>
          </div>
          <p class="text-gray-500 text-sm mt-4">
            <span class="block mb-4"
              >Create a new project that needs some time tracking.
              <br />
              It may be the name of your customer or an activity that you love doing.</span
            >
            <code> trak create project your-project-id</code>
          </p>
        </div>
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-5 w-5"
                name="play-circle-outline"
                role="img"></ion-icon>
            </div>
            <p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Start
            </p>
          </div>
          <p class="text-gray-500 text-sm mt-4">
            <span class="block mb-4"> Start a tracking session.</span>
            <code> trak start your-project-id</code>
          </p>
        </div>
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-5 w-5"
                name="stop-circle-outline"
                role="img"></ion-icon>
            </div>
            <p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Stop
            </p>
          </div>
          <p class="text-gray-500 text-sm mt-4">
            <span class="block mb-4"> Stop the current tracking session.</span>
            <code> trak stop</code>
          </p>
        </div>
        <div>
          <div></div>
        </div>
      </div>
    </div>

    <div class="mx-auto max-w-3xl lg:text-center relative">
      <div>
        <p class="mt-12 text-lg max-w-xl tracking-tight text-gray-500 mx-auto">
          For more details give a look at the <a class="font-bold underline"
            href="https://docs.usetrak.com/guides/quick-start/" target="_blank">Quick Start ↪</a
          > guide.
        </p>
      </div>
    </div>
  </div>
</section>
