---
import { AstroSeo } from "@astrolib/seo";
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Navigation from "../../components/global/Navigation.astro";
import Footer from "../../components/global/Footer.astro";

const allDevlogPosts = await getCollection("devlog");
allDevlogPosts.sort((a, b) => b.data.date - a.data.date);
---

<AstroSeo
  title="Devlog"
  description="Announcements and all about time tracking, with and without trak."
  ,
  canonical="http://usetrak.com/devlog"
  openGraph={{
    url: "http://usetrak.com/devlog",
    title: "Devlog",
    description:
      "Announcements and all about time tracking, with and without trak.",
    images: [
      {
        url: "http://usetrak.com/opengraph/social-og.jpeg",
        width: 1200,
        height: 630,
        alt: "trak",
        type: "image/jpeg",
      },
      {
        url: "http://usetrak.com/opengraph/twitter-og.jpeg",
        width: 4096,
        height: 4096,
        alt: "trak",
        type: "image/jpeg",
      },
      { url: "http://usetrak.com/opengraph/social-og.jpeg" },
      { url: "http://usetrak.com/opengraph/twitter-og.jpeg" },
    ],
    site_name: "Trak",
  }}
  twitter={{
    handle: "@usetrakcom",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>
  <Navigation />
  <section aria-labelledby="faq-title" id="faq">
    <div
      class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
      <div>
        <div class="max-w-2xl">
          <p
            class="text-black font-extrabold lg:text-5xl text-4xl tracking-tight">
            Devlog
          </p>
          <p class="text-gray-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
            Announcements about trak and all about time tracking.
          </p>
        </div>
        <div class="mt-12 space-y-12 divide-y-2">
          <div>
            {
              allDevlogPosts.map((post) => (
                <a
                  class="block border shadow-sm rounded px-3 py-4 hover:bg-sky-50 transition-colors"
                  href={`/devlog/${post.slug}`}>
                  {post.data.date.toLocaleDateString("it-IT", {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                  })}{" "}
                  • <span class="font-semibold">{post.data.title}</span> →
                </a>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </section>
  <Footer />
</BaseLayout>
